<body>
    <h1>SPAM GAME</h1>
    <div class="ui container annex">

        <div id="winner-group">
            <p>Le grand gagnant est : </p>
            <div id="winner-list"></div>
        </div>
        <div id="game_space">
        <%= render @users %>
        </div>


        <div id="timer">
            <div id="play" >Jouer</div>
        </div>

    </div>
</body>
