// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// rgba(255, 213, 25, 0.253)

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(97, 147, 255);

    .new_user {
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 20px;

        input.btn {
            background-color: rgba(255, 213, 25, 0.253);
        }

        label .optional {
            margin: 2vh;
        }
        input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
            border-radius: 20px;
        }
        .checkbox{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2vh;

            .boolean {
                margin: 0;
                width: 10%;
            }
        }

    }
    h1 {
        color: white;
        font-size: 4em;
        font-weight: bold;
        margin-bottom: 10vh;
    }

    .annex {

        display: flex;
        justify-content: center;
        align-items: center;

        #winner-group {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2vw;

            p {
                margin: 0;
                color: white;
            }

            #winner-list {
                 .winner {
                    color: white;
                    font-weight: bold;
                    font-size: 1.6em;
                 }
            }
        }
    
        #game_space {
            display: flex;    
            background-color: rgb(21, 72, 180);  
            border-radius: 20px;
        
            .card {
                background-color: rgb(0, 49, 155);
                min-width: 10vw;
                margin: 1vw;
                border-radius: 20px;
        
                .count {
                    height: 40vh;
                    display: flex;
                    align-items: center;
                    flex-direction: column-reverse;
        
                    .bar {
                        margin : 0.2vw;
                        height: 0.6vh;
                        width: 85%;
                        background-color: #FFD619;
                        border-radius: 20px;
                    }
                }
            
                .name{
                    text-align: center;
                    color: white;
                    margin: 5px;
                    height: 2vh;
                    font-size: 1.2em;
                }
        
            }
        
        }

        #timer {
            display: flex;
            justify-content: center;
            margin: 5vh;

            #play{
                background-color: #FFD619;
                color: white;
                border-radius: 40px;
                padding: 2vh 4vw;
                font-size: 2em;
                font-weight: bold;
            }

            #count{
                background-color: #FFD619;
                color: white;
                border-radius: 40px;
                padding: 2vh 4vw;
                font-size: 2em;
                font-weight: bold;
            }


            #go{
                background-color: #FFD619;
                color: white;
                border-radius: 40px;
                padding: 2vh 4vw;
                font-size: 2em;
                font-weight: bold;
            }
        }
    
    }
}

